.documentation-listing-page {
  /* This is added since we need 2x resolution for retina displays */
  .listitem img {
    max-width: 120px;
  }
}

.documentation-page {
  > .container {
    line-height: 1.8;
  }

  p {
    font-size: 14px;
  }

  .toc {
    display: block !important; // overwrite docbook style
    padding-bottom: 26px;
    margin: 20px 0 46px 0;

    #toctitle {
      @extend h2;
    }

    > ul {
      margin-top: 15px !important;
    }

    ul {
      margin-top: 5px;
      margin-bottom: 0;

      &.sectlevel1 {
        @extend .pl-0;
      }
    }

    li {
      margin-bottom: 5px;
    }

  }


  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    @extend .font-weight-bold;
    display: block;
  }

  // /node_modules/bootstrap/scss/_reboot.scss
  //
  // Code
  //

  pre,
  code,
  kbd,
  samp {
    font-size: $code-font-size;
  }

  // Inline code and <var>
  code,
  var {
    padding: $code-padding-y $code-padding-x;
    background-color: $code-bg;
    @include border-radius($border-radius-sm); 
  }
  
  // pre > code, highlight
  pre code {
      display: block;
      font-style: normal;
      overflow-x: auto;
      border: 1px dotted $pre-code-border;
      padding: $pre-code-padding-y $pre-code-padding-x;
      @include border-radius($border-radius-sm); 
  }

  ul, ol {
    font-size: 14px;
    padding-left: 20px;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
    margin-bottom: 30px;

    thead {
      background-color: #e0e0e0;
      color: #000;
      text-align: left;
      vertical-align: bottom;
    }

    caption {
      color: #000;
      font: italic 85%/1 arial, sans-serif;
      padding: 1em 0;
      text-align: center;
    }

    td, th {
      border-left: 1px solid #cbcbcb;
      font-size: inherit;
      margin: 0;
      overflow: visible;
      padding: 0.5em 1em;
    }

    td:first-child, th:first-child {
      border-left-width: 0;
    }

    td {
      border-bottom: 1px solid #cbcbcb;
      background-color: transparent;
    }

    tbody > tr:last-child > td {
      border-bottom-width: 0;
    }
  }
}
