// GLOBAL SETTINGS
$path-root: "..";
$site-max-h: 914px;
$tw-color: #1DA1F2;
$i: "../images/"; // PATH VAR

// MIXINS
@import "mixins/mixins";

// FONTS (with filename)
$roboto-font-path: "~roboto-fontface/fonts";
@import "~roboto-fontface/css/roboto/sass/roboto-fontface-thin";
@import "~roboto-fontface/css/roboto/sass/roboto-fontface-light";
@import "~roboto-fontface/css/roboto/sass/roboto-fontface-regular";
@import "~roboto-fontface/css/roboto/sass/roboto-fontface-medium";
@import "~roboto-fontface/css/roboto/sass/roboto-fontface-bold";
@import "~roboto-fontface/css/roboto-condensed/sass/roboto-condensed-fontface-light";
@import "~roboto-fontface/css/roboto-condensed/sass/roboto-condensed-fontface-regular";
@import "~roboto-fontface/css/roboto-condensed/sass/roboto-condensed-fontface-bold";

// FA SOLID AND BRANDS
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

// BS 4.0
@import "~bootstrap/scss/functions";
// Vars
@import "variables";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
// @import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group";
// @import "~bootstrap/scss/input-group";
// @import "~bootstrap/scss/custom-forms";
// @import "~bootstrap/scss/nav";
// @import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/jumbotron";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/close";
// @import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";

// Bootique Specific:scss
@import 'pure-grid-breakpoints';
@import 'helper-classes', 'helpers/bs/media';
@import 'color-pallette', 'typography', 'docbook';

// Nav
@import "menus";
@import "nav";

// Pages
@import "page/404", "page/docs";

// VIEWPORT FIX
@-webkit-viewport {
  width: device-width
}

@-moz-viewport {
  width: device-width
}

@-ms-viewport {
  width: device-width
}

@-o-viewport {
  width: device-width
}

@viewport {
  width: device-width
}

// BROWSER HAPPY
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// BOOTIQUE

// GENERAL
body.inactive {
  overflow: hidden;
}

[data-spy="scroll"] {
  position: relative;
}

h1, h2, h3, h4, h5, h6 {

  > a {
    font-weight: inherit;
  }
}

a {
  text-decoration: none;
  color: #4f4f4f;

  &:hover {
    color: inherit;
    text-decoration: underline;
  }
}

hr {
  border: 1px solid #ececec;
  border-width: 1px 0 0;
  margin: 20px 0;
}

// Helpers
.relative {
  position: relative;
}

.min-h-100vh {
  min-height: 100vh;
}

.xsmall {
  font-size: 55%;
}

.slanted {
  transform: skewY(-7deg);
  padding: 7.25rem 0;
  margin: 6.2% 0;

  .content {
    transform: skewY(7deg);
  }
}

.slanted-reverse-top {
  position: relative;
  overflow: hidden;
  padding: 24% 0 0; // pb : 7.25rem made by columns

  @include media-breakpoint-up(sm) {
    padding-top: 16%;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 6.2%;
  }

  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 500%;
    top: 0;
    left: 0;
    transform: skewY(7deg);
    // z-index: 1;
    transform-origin: 0 0;
  }

  &.-slight-dark--bg:before {
    background: rgba(theme-color("gray-dark"), .03);
  }
}

.-dark--bg {
  background: theme-color("gray-dark");
  color: $white;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    color: $white;
  }
}

.text-bold {
  font-weight: 700;
}

// TYPE
h1, h2, h3, h4, h6,
.h1, .h2, .h3, .h4, .h6 {
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: $black;

  > a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}

h1,
.h1 {
  font-weight: 700;

  @include media-breakpoint-down(sm) {
    font-size: $font-size-base * 2.5;
  }

  small {
    font-weight: 300;
    color: #777;
    font-size: 1.5625rem;

    @include media-breakpoint-down(sm) {
      font-size: 1.3rem;
    }

    strong {
      font-weight: 400;
    }
  }
}

h2 {
  font-weight: 700;
}

a {
  color: theme-color("gray-dark");

  @include hover-focus-active {
    color: $black;
  }
}

a,
button,
[class*='button'],
[class*='btn'] {
  @include addAnimation(all);
}

// COMPONENTS
.container:not(.documentation-page) {
  @include media-breakpoint-down(md) {
    @include px-(2rem);
  }
  
  .documentation-page & {
    padding-left: inherit;
    padding-right: inherit;
  }
}


.btn {
  font-size: 1.125rem;
  padding: .7rem 1.5rem .6rem; // .8rem 1.5rem;
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  // rounded
  &.btn-rounded {
    border-radius: 500px;
  }

  // iconed
  .fa, .fas, .far, .fal, .fab {
    margin-right: 1rem;
  }

  // outlined
  &[class*='btn-outline'] {
    border-width: 2px;
  }

  // outlined light
  &.btn-outline-light {
    @include focus {
      color: $gray-900;
      background-color: darken($light, 7.5%);
      border-color: $light;
    }
  }
}

// INTRO
#intro {
  padding-top: 100px; // 88px + 80px;
}

// YT Video
.yt-video {
  position: relative;
  @include mx-(auto);

  .yt-video-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: $body-bg;
    z-index: 1;
    opacity: 1;
    transition: z-index 0.5s step-start, opacity 0.5s linear;

    > img {
      @include media-breakpoint-down(xs) {
        max-width: 16.25rem;
      }
    }
  }

  [class*='-btn'] {
    text-indent: -99999px;
  }

  .yt-play-btn {
    @include equal-width-height(7.5rem);
    background: transparent url("images/btn.play.svg") center center no-repeat;
    margin-bottom: map-get($spacers, 2_5); // 12px

    @include media-breakpoint-up(sm) {
      margin-bottom: map-get($spacers, 5); // 78px
    }

    @include media-breakpoint-up(md) {
      margin-bottom: map-get($spacers, 7); // 78px
    }
  }

  // Close player and stop playback
  .yt-close-stop-btn {
    box-sizing: content-box;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 2em;
    height: 2em;
    padding: 1em;
    font-size: 11px;
    background: #e5e5e5; // rgba(0, 0, 0, .05);
    opacity: 0;
  }
}

.yt-video.active {

  .yt-video-overlay {
    z-index: -1;
    opacity: 0;
    transition: z-index 0.5s step-end, opacity 0.5s linear;
  }

  .yt-close-stop-btn {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
}

.yt-close-stop-btn span {
  position: relative;
  display: block;
  margin-top: 0.9em;
  background: transparent;
}

.yt-close-stop-btn span,
.yt-close-stop-btn span:before,
.yt-close-stop-btn span:after {
  width: 100%;
  height: .2em;
  transition: all 0.4s;
}

.yt-close-stop-btn span:before,
.yt-close-stop-btn span:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
}

.yt-close-stop-btn span:before {
  transform: rotate(45deg);
}

.yt-close-stop-btn span:after {
  transform: rotate(-45deg);
}

// FEATURES
#features .h1 + .container {
  @include media-breakpoint-up(md) {
    max-width: map-get($container-max-widths, lg);
  }
}

.feature {
  display: flex;
  flex-direction: column;
  margin-bottom: map-get($spacers, 6); // 60px

  .rounded-circle {
    display: flex;
    justify-content: center;
    @include equal-width-height(4rem);
    background: rgba(#fff, .95);
    margin-bottom: map-get($spacers, 3); // 1rem
  }

  p {
    max-width: 300px;
  }
}

// TESTIMONIALS
// Slick Carousel
$slick-font-path: $fa-font-path;
$slick-font-family: "Font Awesome 5 Free";
$slick-loader-path: "~slick-carousel/slick/";
$slick-prev-character: "\f053";
$slick-next-character: "\f054";
$slick-opacity-default: 1;

@import '~slick-carousel/slick/slick';
@import '~slick-carousel/slick/slick-theme';

#testimonials {

  .container {
    @include media-breakpoint-down(md) {
      @include px-(0);
      max-width: 100% !important;
    }
  }

  .slider-center {
    cursor: move;
    cursor: grab;

    .slick-list {
      display: flex;
    }
    .slick-track {
      display: flex;
      align-items: center;
    }

    .slick-slide,
    .slick-slide > div {
      display: flex;
    }

    .slick-slide {
      transition: all 300ms ease;
      margin: 0 15px;
      z-index: 1;

      .card {
        opacity: 0.65;
        z-index: 1;

        // max-width: 85%;
        // align-self: center;
        // margin: 0 auto;
      }
    }

    .slick-center {
      z-index: 3;

      .card {
        position: relative;
        opacity: 1;
        transform: scale(1.2);
      }
    }

    .card-holder {
      position: relative;
      display: flex !important;
      @include py-(100px);
    }

    .card {
      transition: all 300ms ease;
      box-shadow: 0 6px 23px rgba($black, .14);
      border-color: transparent;

      blockquote {
        @include px-(2rem); // 2.25rem  // 3rem ~ 48px
        @include py-(1.5rem); // 2.75rem  // 3.625rem ~ 58px
        justify-content: center;

        .rounded-circle {
          @include equal-width-height(4.375rem); // = 70px
          // border: 2px solid rgba($black, .3); //#bebebe;
        }
        
        .rounded-circle + .flex-column .xsmall {
          @include hover-focus-active {
            color: $tw-color !important;
            text-decoration: none;
          }
        }
        
        .rounded-circle ~ a {
          opacity: .3; 
          font-size: .8em;

          @include hover-focus-active {
            opacity: 1; //.7;
            color: $tw-color;
            text-decoration: none;
          }
        }

        a {
          
          @include hover-focus-active {
            outline: 0 !important;
          }
        }

        p {
          font-size: .7em;  //.8em; // .9em
          line-height: 1.75;
          @include px-(map-get($spacers, 2));

          &:last-child {
            position: relative;

            &:before {
              content: '\201C';
              position: absolute;
              left: -.3em;
              top: -.1em;
              font-size: 3em;
              opacity: .1;
              line-height: 1;
            }
          }
          
          a {
            padding: 0 .2rem;
            color: $white;
            background-color: $dark;
            text-decoration: none;

            @include hover-focus-active {
              color: $dark;
              background-color: rgba($dark, .1);
            }
          }
        }


        // rwd
        @include media-breakpoint-down(lg) {
          @include px-(1.2rem); // 3rem ~ 48px
          @include py-(1.6rem); // 3.625rem ~ 58px

          p {
            font-size: .65em;
          }
        }

        @include media-breakpoint-down(xs) {
          @include px-(1.35rem);
          @include py-(1.6rem);

          p {
            font-size: .58em;
            line-height: 1.7;
          }
        }

      }
    }

  }

  .slick-prev,
  .slick-next {
    z-index: 1;
    border-radius: 500px;
    box-shadow: 0 4px 9px rgba(0, 0, 0, .24);
    background: $body-color;
    @include equal-width-height(3.5rem);

    &:before {
      // font-family: 'Font Awesome 5 Free';
      font-size: .875rem;
      position: relative;
      transition: inherit;
      // opacity: 1;
    }

    @include hover {
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
    }
  }

  .slick-prev {
    left: 50%;
    margin-left: -51%;

    &:before {
      // content: '\f053';
      right: .125rem;
    }
  }

  .slick-next {
    right: 50%;
    margin-right: -51%;

    &:before {
      // content: '\f054';
      left: .125rem;
    }
  }
}

// FOOTER

#social {

  .list-group-item {
    padding: 0;
    border: none;
    color: $body-color;
    background: transparent;

    @include hover-focus-active {
      color: $black;
      background: transparent;
    }
  }

}

// MEDIUM POSTS
.medium-posts {

  .list-group-item {
    margin-bottom: map-get($spacers, 6); // = 60px;
  }

  .medium-counters {

    > span {
      display: inline-block;
      margin-right: map-get($spacers, 4_5); // = 28px;

      &.badge {
        margin-right: map-get($spacers, 3_4); // = 20px;
        margin-bottom: map-get($spacers, 2); // = 8px;
      }
    }

    img {
      width: (1.2rem); // = 19.2px
    }

    img,
    i {
      margin-right: map-get($spacers, 1); // = 28px;
    }
  }
}

// TWITTER POSTS
#twitter-posts {

  .twitter-timeline {
    flex-grow: 1;
    position: relative !important;
    left: -10px;
    width: calc(100% + 20px) !important;
    top: -15px;
    max-width: none !important;
  }

  .list-group-item {
    margin-bottom: map-get($spacers, 5); // = 60px;
  }
}

// FOOTER COPY

#footer-copy {

  p,
  .nav-double a {
    font-size: .75rem;
  }

  p,
  a {
    color: #A0A0A0;
  }

  a {
    @include hover-focus-active {
      color: $body-color;
      background: transparent;
      text-decoration: none;
    }
  }

  @include media-breakpoint-down(md) {
    > p {
      max-width: 12.5rem; // = 200px;
      text-align: center;
    }
  }
}
