# Build
/public
/themes/bootique-theme/static/assets/
/themes/bootique-theme/layouts/partials/assets.html

# Docs
/docs/
/content/docs/3.x
/content/docs/4.x

# Dependencies
/app/node_modules/
/scripts/node_modules/

# compiled js
/scripts/*.js
/app/scripts/*.js

# Idea
.idea

# other
.DS_Store
