<!doctype html>
<html class="no-js" lang="en-us">
{{ partial "header.html" . }}
<body>
{{ partial "ltie10.html" . }}

{{ partial "top-nav.html" . }}

<div class="full-window-height--nav">
  <div class="container content">
    <h2 class="inline-block center-block text-center slogan">
      The home of Bootique Project - a minimally opinionated framework for runnable <em>Java</em> apps
    </h2>
    <div class="center-block max-w-750">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/a4e8SOX1TAk"></iframe>
      </div>
    </div>
    <div class="text-center">
      <a href="docs/0/getting-started/" class="btn btn-lg btn-white mt-6p">
        <i class="fa fa-code"></i>Get started
      </a>
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
{{ partial "google_analytics.html" . }}
{{ partial "twitter_analytics.html" . }}
</body>
</html>
