{{- $UrlComponents := split .RelPermalink "/" -}}

{{/* get doc version from URL */}}
{{- if ne (index $UrlComponents 2) "" -}}
  {{- $.Scratch.Set "bqVersion" (index $UrlComponents 2) -}}
{{- else -}}
  {{- $.Scratch.Set "bqVersion" $.Site.Data.versions.DefaultVersionUrl -}}
{{- end -}}
{{- $Version := ($.Scratch.Get "bqVersion") -}}

<ul class="pure-menu-list pull-left">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main.ByWeight }}
        <li class="pure-menu-item {{ if eq (string (.URL | absURL)) (string $currentPage.Permalink) }}pure-menu-selected{{ end }}">
          <a class="pure-menu-link" href="{{ .URL }}">{{ .Name }}</a>
        </li>
  {{ end }}
</ul>
