<div id="top-nav" class="main">
  <!-- Menu toggle -->
  <a href="#menu" id="menuLink" aria-label="Menu" class="menu-link">
    <!-- Hamburger icon -->
    <span></span>
  </a>
  <div id="menu" class="nav-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <!-- Menu Logo -->
    <a href="/" class="nav-brand center"><img src="/images/logo.svg" alt="Bootique"/></a>

    <div class="container nav">
      <div class="valign-wrapper-sm">
        <div class="valign-sm">
          <ul class="pure-menu-list pull-left">
            <li class="pure-menu-item pure-menu-selected"> <!-- TODO: Selected page! -->
              <a href="/docs/0/getting-started/" class="pure-menu-link">
                Get started
              </a>
            </li>
            <li class="pure-menu-item">
              <a href="/docs/" class="pure-menu-link">
                Documentation
              </a>
            </li>
            <li class="pure-menu-item">
              <a href="/cla/" class="pure-menu-link">
                CLA
              </a>
            </li>
            <li class="pure-menu-item">
              <a href="https://groups.google.com/forum/#!forum/bootique-user" class="pure-menu-link">
                Forum
              </a>
            </li>
          </ul>
        </div>
      </div>
      <ul class="pure-menu-list pull-right">
        <li class="pure-menu-item gh-btns" data-gh-owner="bootique" data-gh-repo="bootique">
          <a href="https://github.com/bootique/bootique" class="pure-menu-link github-btn fork">
            <i class="fa fa-github"></i><span>Code</span>
          </a>
          <a href="https://github.com/bootique/bootique/stargazers" class="pure-menu-link github-btn star">
            <i class="fa fa-github"></i><i class="fa fa-star"></i><span class="star-counter"></span>
          </a>
        </li>
        <li class="pure-menu-item tw-btn">
          <a href="https://twitter.com/intent/follow?screen_name=BootiqueProject" class="pure-menu-link tw-btn">
            <i class="fa fa-twitter"></i><span>Follow</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
